* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    background: #0f172a;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.todo-container {
    background: #1e293b;

    width: 400px;

    padding: 30px;

    border-radius: 14px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;

    padding: 12px;

    border: none;
    border-radius: 8px;

    outline: none;
}

button {
    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    background: #3b82f6;
    color: white;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #2563eb;
}

ul {
    margin-top: 20px;
    list-style: none;
}

li {
    background: #334155;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-text {
    flex: 1;
    cursor: pointer;
}